CREATE DATABASE [techshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'techshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\techshop.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'techshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\techshop_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [techshop]
GO
USE [techshop]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [techshop] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
